<nav class="navbar navbar-default navbar-fixed-top noBorder" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand brandStyle" href="#">Journee 2018</a>
        </div>

        <div class="collapse navbar-collapse noPadding" id="myNavbar">
            <div class="navbar-right menustyle">
                <ul class="nav navbar-nav">
                    <li><a href="index.html"><p>home</p></a></li>
                    <li><a href="demo.html"><p>demo</p></a></li>
                    <li><a href="team.html"><p>contact us</p></a></li>
                </ul>
            </div>
        </div>

    </div>
</nav>
